
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');


html, body {
    background-color: #313131;
    color: white;
    font-family: 'DM Mono', monospace;
}

header{
    display: flex;
    justify-content: center;
}


.logo{
    width: 100%;
    max-width: 400px;
}

