body{
    background-color: #313131;
    color: white;
}
canvas {    
    display:block;
    border-width: 10px;
    border-color: white;
    background: #313131; 
    display: block; 
    margin: 0 auto; 
}
