body{
    background-color: #313131;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
}
div{
    width: auto;
    text-align: center;
    display: block;
 
}
a{
    color:#33ff00;
}
h1{
    font-size:4vw;
    margin-top: 0;
}
canvas {    
    outline: white 1px solid;
    background: #000000; 
    display: block; 
    margin: 0 auto;  
}