body {
    background-color: #313131;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
}

div {
    width: auto;
    text-align: center;
    display: block;
}

a {
    color: #33ff00;
}

h1 {
    font-size: 10vw;
    margin-top: 0;
}