body {
    background-color: #313131;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.5vw;
}



.top {
    grid-area: top;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
}

.bottom {
    grid-area: bottom;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'top top top top top top' 
    'left center center center right' 
    'left center center center right'
    'left center center center right'
    'bottom bottom bottom bottom bottom bottom';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(158, 59, 59, 0.8);
    text-align: center;
    padding: 1vw;
}

a {
    color: #33ff00;
    font-size: 1vw;
}

h1 {
    font-size: 10vw;
}

ul {
    list-style-type: none;
}

li {
    font-size: 2vw;
    color: #313131;
    margin: 2vw;
    padding: 1vw;
    background-color: white;
    border-radius: 2vw;
}