body {
    background-color: #313131;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.5vw;
}

div {
    width: auto;
    text-align: center;
    display: block;
}

a {
    color: #33ff00;
    font-size: 0.3vw;
}

h1 {
    font-size: 10vw;
    margin-top: 0;
}

ul {
    list-style-type: none;
}

li{
    color: #313131;
    margin: 0.5vw;
    background-color: white;
}